In [ ]:
# My Code
N, M = map(int,input().split())
way = [list(input().split()) for _ in range(M)]
horizonal = [0 for _ in range(N**2+1)]
vertical = [0 for _ in range(N**2+1)]
crss = 0

for i in way:
	ynum = int(i[0])
	xnum = int(i[1])
	direction = str(i[2])
	strt = (ynum-1) * N + xnum

	if direction == 'U':
		addlst = list(range(xnum,strt+1,N))
		for k in addlst:
			crss += horizonal[k]
			vertical[k] += 1

	elif direction == 'D':
		addlst = list(range(strt, N**2+1 ,N))
		for k in addlst:
			crss += horizonal[k]
			vertical[k] += 1

	elif direction == 'L':
		addlst = list(range((ynum-1)*N+1,strt+1))
		for k in addlst:
			crss += vertical[k]
			horizonal[k] += 1

	elif direction == 'R':
		addlst = list(range(strt, (ynum*N)+1))
		for k in addlst:
			crss += vertical[k]
			horizonal[k] += 1

print(crss)

In [ ]:
# Answer Code
N, M = map(int, input().split())
arr = [[[0, 0] for _ in range(N)] for _ in range(N)]
# N x N 크기의 배열을 선언하고, 각 칸을 [0, 0] 으로 초기화 해줍니다.
# 이 때, 이 값을 [ 세로선의 개수, 가로선의 개수 ] 로 정의하겠습니다.

for _ in range(M):
	y, x, d = input().split()
	y = int(y) - 1
	x = int(x) - 1

	if d == "R":
		for j in range(x, N):
			arr[y][j][1] += 1
	elif d == "L":
		for j in range(x + 1):
			arr[y][j][1] += 1
	elif d == "U":
		for i in range(y + 1):
			arr[i][x][0] += 1
	elif d == "D":
		for i in range(y, N):
			arr[i][x][0] += 1

result = 0

for i in range(N):
	for j in range(N):
		result += arr[i][j][0] * arr[i][j][1]

print(result)

for _ in range(M):
	y, x, d = input().split()
	y = int(y) - 1
	x = int(x) - 1

	if d == "R":
		for j in range(x, N):
			arr[y][j][1] += 1
	elif d == "L":
		for j in range(x + 1):
			arr[y][j][1] += 1
	elif d == "U":
		for i in range(y + 1):
			arr[i][x][0] += 1
	elif d == "D":
		for i in range(y, N):
			arr[i][x][0] += 1

result = 0

for i in range(N):
	for j in range(N):
		result += arr[i][j][0] * arr[i][j][1]

print(result)



```python
# 정답을 저장할 변수를 선언합니다.
result = 0

# 정사각형의 모든 칸을 순회할게요.
for i in range(N):
	for j in range(N):
		# 교점은 각 칸의 가로선 * 세로선 만큼 생깁니다.
		result += arr[i][j][0] * arr[i][j][1]

print(result)
```

### 코드에 쓰인 개념

In [16]:
addlst = list(range(2,17,4))
addlst

[2, 6, 10, 14]

In [22]:
print([[] for _ in range(5)])

[[], [], [], [], []]

## **2개의 list에서 겹치는 원소의 개수 찾기**
- 처음엔, set을 활용해서 계산을 하려 했는데, 같은 line에 n개의 줄이 존재할 수 있어, set을 사용하지 않고 list로 계산했다.
- list comprehension
- set.intersection

Set 합집합


```python
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}
s1|s2
{1, 2, 3, 4, 5, 6, 7}

s2.union(s1)
{1, 2, 3, 4, 5, 6, 7}
```

 set 교집합
 - &
 - set자료형.intersection

In [2]:
b1 = [1,2,3,4]
b2 = [3,4,5,6]
b3 = list(set(b1).intersection(b2))
b3

[3, 4]

In [11]:
b4 = [1,2,3,8,4,5]
b5 = [[3,4],[5,6]]
b6 = [list(set(b4).intersection(i)) for i in b5]
b6

[[3, 4], [5]]

Set 차집합

```python
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7}
s1 - s2
{1, 2, 3}

s1.difference(s2)
{1, 2, 3}
```

Set에 값 추가하기
- 1개 추가 : add
- 여러 개 추가 : update
- 특정 값 추가 : remove